* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.carousel-container {
  margin: 0 auto;
  padding-bottom: 20px;
}

.carousel-image-wrapper img {
  width: 600px;
  height: 400px;
}
